$post-title-color: #5B5B5B;
$spacing-unit:     30px;
$content-width:    1024px;

.featured-post {
	
	.featured-preview {

		padding-top: $spacing-unit;
		background-color: #D4D4D4;
	 	box-shadow: 4px 4px 5px #888888;
		height: 350px;		
		overflow: hidden;
		text-overflow: ellipsis;

		a {

		color: $post-title-color;

		}

		.featured-title: {
			color: #767676;
			font-family: "Arial", "Helvetica", sans-serif;
		}

		.featured-img {
			width: 100%;

		}

		.featured-excerpt {
			text-align: justify;
			text-overflow: ellipsis;
		}


	}

}

#featured-container {
	margin-bottom: $spacing-unit;
}

#featured-wrapper {
	width: 100%;
	background-color: #4C4C4C;
	padding: 30px 0;
}

.subpost-title a {
	color: $post-title-color;
}

.page-content.home {
	width: 100%;
	padding: 0px;

	.wrapper {
		max-width: none;
		padding: 0px;
	}
}

#sub-posts {
	max-width: calc(  #{$content-width} - (  #{$spacing-unit} * 2) );
	margin: auto;
	padding: 10px;
}