$post-title-color: #5B5B5B;
$spacing-unit:     30px;

.featured-post {
	
	.featured-preview {

		padding-top: $spacing-unit;
		background-color: #D4D4D4;
	 	box-shadow: 4px 4px 5px #888888;
		height: 350px;		
		overflow: hidden;
		text-overflow: ellipsis;

		a {

		color: $post-title-color;

		}

		.featured-title: {
			color: #767676;
			font-family: "Arial", "Helvetica", sans-serif;
		}

		.featured-img {
			width: 100%;

		}

		.featured-excerpt {
			text-align: justify;
			text-overflow: ellipsis;
		}


	}

}

#featured-container {
	margin-bottom: $spacing-unit;
}

.subpost-title a {
	color: $post-title-color;
}